.container {
  .header {
    h1 {
      font-size: 3rem;
      letter-spacing: -0.5px;
    }

    .footer {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      margin-top: 1.5rem;

      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
